{% extends 'base.html' %}
{% block content %}



<div class='container'>
  <h3>You must sign up to use application</h3>
  
  <form action="signUp" method="POST">

    
    <br>
    
  <div>  
    <div class='d-inline'>
      <label>
        <h6>Your first name</h6>
        <input type="text" class='form-control' name="fname">
      </label>
    </div>

    <div class='d-inline'>
      <label>
        <h6>Your last Name</h6>
        <input type="text" class='form-control' name="lname">
      </label>
    </div>
  </div>  

  <div>    
    <div class='d-inline'>
      <label>
        <h6>Email</h6>
        <input type="email" class='form-control' name="email">
      </label>
    </div>

    <div class='d-inline'>
      <label>
        <h6>choose password</h6>
        <input type="password" class='form-control' name="password">
      </label>
    </div>
  </div>  
  <div>
    <!-- ADD DROP DOWN HOBBY SELECTOR HERE -->
    <div>
      <input type="submit" class='btn btn-primary' value="Submit">
    </div>

  </form>
</div>

{% endblock %}