
<!doctype html>
<html>
<head>
    <title>{% block title %}defaultBASEtitle{% endblock %}</title>

   <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
    	<!-- <a class="navbar-brand" href="#"><img src="/static/OWL.jpg" width="600" height="400" alt=""></a> -->

    	<!-- <img src="//static/owl.jpg" width="30" height="30" alt="">   -->
 

     
    
</head>

<body>

 {% block content %}


 {% endblock %}
   
  <script src= >          </script>
  <script src= >          </script>

</body>
</html>
