{% extends "bootstrap/base.html" %}

{% block title %}
Home
{% endblock %}


{#
{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}
#}

{{super()}}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}


{% block content %}
<br>
<br>
<br>
<br>
    <div class="container">

      <div class="startTemp">
        <br>
        <br>
        <h1>Make use of your free time !</h1>
        <p class="lead">Customize your fun.<br>Everywhere.</p>
      </div>

    </div><!-- /.container -->
{% endblock %}






{#
<!-- 
{% extends 'base.html' %}




{% block title %}
     HOMEPAGE TITLE
{% endblock %}


{% block content %}
<div id="login">
  <h1>HOMEPAGE</h1>

  <form action="/login">        
    <input type="Username" placeholder="Username" />
    <input type="password" placeholder="Password" />        
    <input  type="submit" value="Log in" />    
  </form>
</div>
<br>

<div>
<a class='btn btn-link' type='button' href='/signUp'>Link to signUp !</a> 
</div>

{% endblock %} -->

#}