{% extends "bootstrap/base.html" %}

{% block title %}
  Home
{% endblock %}

 
{#
{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
<link rel="stylesheet" type="text/css" href="/static/styles.css">

#}

{{super()}}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}


{% block content %}
{{ super () }}

             
             <!-- 
       
            <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
        </div> -->
    

        <!-- <div ="jumbotron jumbotron-fluid bg-info text-white"> -->
          <div style="background-color:#68949E; !important" class="jumbotron">
            <div class="container">
              <h1 style="color:#FFD8AA;font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;>YOLO</h1>
              <h6 class="font-weight-bold .lead" <font face="verdana" >  Customize your fun .<br> Anywhere ...</h6>
            </div>
          </div>



    <div  class="bg"></div>
       <img class="img-fluid" max-width:100%;></div>  
      <style>
         html {
           height: 50%%;
               }

.bg { 
    /* The image used */
    background-image: url("/static/images/street view nite 3.jpg");

    /* Full height */
    height: 70%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



{% endblock %}

{% include 'flashed.html' %}

