{% extends 'base.html' %}
{% block title %}
GOT HERE
{% endblock %}
{% block content %}

<div>
 
    <div class="add nice feature block here"> 
        <img>
    </div>
    <br>
    <div>
    <div id='about' class='text-center'>
      <a ADD BUTTON FOR SIGNUP/'>Sign Up!</a> 
      <br>
      <div style='margin:3em'>
          <h6 class='text-justify'>
            message to traveler block
            inspirational

      </h6>
      </div>
    </div> 
        <br>
        <br>
        <br>
</div>

{% endblock %}
