{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<br>
<br>
<br>
<br>

<div class="container-fluid">
<div class="col-xs-12">

    <div class="content-section">  
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
</div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {#----------------------------------------- USERNAME ---------------------------#}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                

                {#
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                #}


                {#--------------------------------------- EMAIL ---------------------------------#}
               
                {#
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}

                    {{ form.email(class="form-control form-control-lg") }}
                </div>
                #}


                {# ------------------------------------- PICTURE --------------------------------- #}

                <div class="form-group">
                    {{ form.picture.label() }}    {######### TO UpdateProfileForm (server.py) ########}
                    {{ form.picture(class="form-control-file") }}
                   
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>






{% endblock %}   




















{#

<!-- 




    <title>Upload</title>

    <div class='container'>
        <div id='photo-container'>
            <div class="page-header">
                <h3>Your profile pic</h3>
            </div>
            <br>
            <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
                <input type='file' name='photo'>
                <input type="submit" class='btn btn-primary' value="Submit">
            </form>
        </div>
    </div>        
 -->

 #}