{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
settings
{% endblock %}




{#
{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='settings.css')}}">
{% endblock %}
#}



{{super()}}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}


{% block content %}
<div class="checkbox">
    <label>
        <input type="checkbox" value="option1">
        Foodie
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" value="option2">
        Museums
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" value="option3">
       Landmarks
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option4">
        Dancing / Music
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option5">
        Wine Bars
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option6">
        Dogs
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option27">
        Scenic
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option8">
        Escape rooms
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option9">
        Historic
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option10">
        Kids
    </label>



<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Welcome, {{ name }}</h1>



              {#------------------------- MAP BELOW ------------------------------#}





 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <input type="text" id="query" placeholder="Search for something...">
    <button id="search">Search</button>

    <p><a href="" id="url" target="_blank">Click for result!</a></p> {#<!-- new page with map results -->#}        
              
{% endblock %}
{#
<!-- api k AIzaSyBJT97lQtK95HI3ze4JtQJOH81foWZ5Uac -->
#}