{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
settings
{% endblock %}




{#
{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='settings.css')}}">
{% endblock %}
#}



{{super()}}

{% block content %}
<div class="checkbox">
    <label>
        <input type="checkbox" value="option1">
        Foodie
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" value="option2">
        Museums
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" value="option3">
       Landmarks
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option4">
        Dancing / Music
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option5">
        Wine Bars
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option6">
        Dogs
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option27">
        Scenic
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option8">
        Escape rooms
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option9">
        Historic
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option10">
        Kids
    </label>


</div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Time Crunch</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
           
            <li><a href="#">Search</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Homepage</a></li>
            <li><a href="">Search</a></li>
            <li><a href="">SignUp</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Another</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">local fav 1</a></li>
            <li><a href="">local fav 2</a></li>
            <li><a href="">local fav 3</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }}</h1>



            
              <meta name="viewport" content="initial-scale=1.0">
              <meta charset="utf-8">
              <style>
                /* Always set the map height explicitly to define the size of the div
                 * element that contains the map. */
                #map {
                  height: 100%;
                }
                /* Optional: Makes the sample page fill the window. */
                
                  height: 100%;
                  margin: 0;
                  padding: 0;
                }
              </style>
            <body>
              <div id="map"></div>
              <script>
                var map;
                function initMap() {
                  map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -34.397, lng: 150.644},
                    zoom: 8
                  });
                }
              </script>
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMairxGPBmISUmQH3MFnk6s0pdz7hYLLM&callback=initMap"
              async defer></script>
            </body>
                    
           

          {#-----------------------------------------#}

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="thumbnail">
              <h4>Place Img link</h4>
              <span class="text-muted">Closest Find</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="thumbnail">
              <h4>Place Img link</h4>
              <span class="text-muted">Top Yelp</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="thumbnail">
              <h4>Place Img link</h4>
              <span class="text-muted">Local Suggestion</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="thumbnail">
              <h4>Place Img link</h4>
              <span class="text-muted">Suggestion</span>
            </div>
          </div>

          <h2 class="sub-header">What to do ?</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
               
              
{% endblock %}

