{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}  settings  {% endblock title %}
  

{% block content %}

<div id="settings-content" class="container-fluid">
    <h1 class="page-header">Welcome, {{ name }} !</h1>
    
    <div class="row">
        <div class="col-md-6">
                <div id="map" style="width:100%; height:50%;"></div>
        </div>
        
        <div class="col-md-6">
            {#  search box for user  #}
            <input type="text" id="query" placeholder="Search for hobby...">  
            <button id="search">Search</button>
            <br>
            <br>

            <div id="type_holder"></div> {# needs to be set to width of 300 }
        </div>
        

    </div>
    

{#------------------------- MAP BELOW ------------------------------#}



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE5BClvl-Ttz9SnoNxuEqgzkBeujoUGjI&libraries=places&callback=renderMap" async defer></script>

<script>
    // Variables for Google Map
    let map;
    let markers = [];
    let markerWindow;
    let autocomplete;
    let countryRestrict = {'country': 'in'};
    let selectedTypes = [];


 //----------------------------------Load Google Map--------------------------->
    function renderMap() // initialize the map 
    {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12 
        });

        let youAreHere = new google.maps.InfoWindow;
        let markerWindow = new google.maps.InfoWindow({width: 150});

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            let pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
 
            let geocoder = new google.maps.Geocoder;

                geocoder.geocode({'location':pos}, function(results,status){
                    if (status == 'OK') {
                        if (results[0]){
                            console.log(results[0].formatted_address);
                            // $('#address').val(results[0].formatted_address);
                        } else { 
                            console.log("No results"); 
                        }
                    } else {
                        console.log("Geocoder failed: " + status);
                    }
                })


             youAreHere.setPosition(pos); 
            youAreHere.setContent('YOU '); 
            youAreHere.open(map);
            map.setCenter(pos); 
          }, function() {
            handleLocationError(true, youAreHere, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, youAreHere, map.getCenter());
        }

      function handleLocationError(browserHasGeolocation, youAreHere, pos) {
        youAreHere.setPosition(pos);
        youAreHere.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        youAreHere.open(map);
      }


       // Click event listener for search button
        $("#search").click(function() {
            let term =  '  ' + $("#query").val(); // ADD a margin to left of text

            // query the google places API using our search term
            let lat = map.getCenter().lat();
            let lng = map.getCenter().lng();

            let data = {
                latitude: lat, 
                longitude: lng,
                radius: 8000, // in meters
                keyword: term
            };

            console.log(data);

            // Deletes any previous markers
            for (let marker of markers) {
                marker.setMap(null);
            }
            markers = [];

            // Get Google Places info via the server using AJAX.
            $.get('/sendRequest', data, showSearch);

        });
  

//--------------------------------- add Map Markers--------------------------->
        function showSearch(data) {
            Array.prototype.forEach.call(data.results, function(data){
                console.log(data);

                let icon = {
                    url: data.icon,
                    scaledSize: new google.maps.Size(30, 30),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(15, 15)
                };

                let marker = new google.maps.Marker({
                  position: new google.maps.LatLng(data.geometry.location.lat,
                                                   data.geometry.location.lng),
                  map: map,
                  title: data.name, // hover text
                  icon: icon
                });

                markers.push(marker);

                google.maps.event.addListener(marker, 'click', function(){
                    markerWindow.close();

                    let img = `<img src="https://vignette.wikia.nocookie.net/max-steel-reboot/images/7/72/No_Image_Available.gif/revision/latest?cb=20130902173013" style="max-width:150px;">`
                    
                    if (data.photos) {
                        img = `<img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=150&photoreference=${data.photos[0].photo_reference}&key=AIzaSyDE5BClvl-Ttz9SnoNxuEqgzkBeujoUGjI">`
                    }

                    let content = `
                        <h3>${data.name}<h3>
                        <p>${data.vicinity}</p>
                       ${img}`;

                    markerWindow.setContent(content);
                    markerWindow.open(map, marker);
                })
            })
        }

    }


    </script>

<!----------------------------------Checkboxes script--------------------------->

<script type="text/javascript">
    
    //Makes checkboxes for each hobby
  
    $(document).ready(function(){
        console.log("make radio buttons");
        //var searchReq =$.get("/sendRequest/" + $("#query").val());  <---
        let types = ['  food','  museums','  landmark','  dancing','  escape rooms','  wine bars','  dogs','  scenic','  historic','  kids','  shopping'];
        let html = '';

        $.each(types, function( index, value ) {
            let name = value.replace(/_/g, " ");
            html += '<div><label><input name="term" type="radio" class="types" value="'+ value +'" />'+ capitalizeFirstLetter(name) +'</label></div>';
        });

        $('#type_holder').html(html);


        $('#type_holder').on('click', function(evt) {
            // if the target of the event is an input element, then we want to get its value
            if (evt.target.tagName == 'INPUT') {
                let radio_value = evt.target.value;
                $('#query').val(radio_value);
            }
        })
    });

    // Helper function to capitalize first letter of a string
    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

</script>





</script> 
        <div class="container">
              <div style="height: 200px; width:200; background-color: #aaa;">
              <div class="text-center bg-secondary">
                <img src="http://via.placeholder.com/150" class="image-responsive rounded background border-info" alt="..."><!-- ADD PLACE PHOTO URL -->
              </div>
              <!-- http://via.placeholder.com/150 -->
            </div>
              <div style="height: 200px; width:200; background-color: #aaa;">
              <div class="text-center bg-secondary">
                <img src="http://via.placeholder.com/150" class="image-responsive rounded border border-info  alt="..."><!-- ADD PLACE 2 PHOTO URL -->
              </div>

            </div>
              <div style="height: 200px; width:200; background-color: #aaa;">
              <div class="text-center bg-secondary">
                <img src="http://via.placeholder.com/150" class="image-responsive rounded border border-info"  alt="..."><!-- ADD PLACE 3 PHOTO URL -->
              </div>
             </div>
            </div>
          
        </div><!--container-->


{% endblock content %}

{% include 'flashed.html' %}





