
<title> signup PAGE</title>


{% extends 'base.html' %}





{% block content %}
<a class="navbar-brand" href="#"><img src="/static/OWL.jpg" width="600" height="400" alt=""></a> 

<div class='container'>
  <h3>You must sign up to use application</h3>
  
  <form action="/signUp" method="POST">

    
    <br>
    <div class='d-inline'>
      <label>
        <h6>Upload Profile Photo</h6>
        <input type="file" name="photo" accept="image/*">
      </label>
    </div>
    
  <div>  
    <div class='d-inline'>
      <label>
        <h6>Your first name</h6>
        <input type="text" class='form-control' name="fname">
      </label>
    </div>

    <div class='d-inline'>
      <label>
        <h6>Last Name</h6>
        <input type="text" class='form-control' name="lname">
      </label>
    </div>
  </div>  

  <div>    
    <div class='d-inline'>
      <label>
        <h6>Email</h6>
        <input type="email" class='form-control' name="email">
      </label>
    </div>

    <div class='d-inline'>
      <label>
        <h6>choose password</h6>
        <input type="password" class='form-control' name="password">
      </label>
    </div>
  </div>  
  <div>
    <!-- ADD DROP DOWN HOBBY SELECTOR HERE -->
    <div>
      <input type="submit" class='btn btn-primary' value="Submit">
    </div>

    {# this is a comment 
    <!-- <div>

      <input type='file' name='photo'> 

    </div> -->
    #}

  </form>
</div>

<!-- hobby choices below -->

<div class="checkbox">
    <label>
        <input type="checkbox" value="option1">
        food
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" value="option2">
        museums
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" value="option3">
       landmarks
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option4">
        Hobby4
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option5">
        Hobby5
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option6">
        Hobby6
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option27">
        Hobby7
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option8">
        Hobby8
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option9">
        Hobby9
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option10">
        Hobby10
    </label>

<!--
</div>
<div class="checkbox disabled">
    <label>
        <input type="checkbox" value="option3" disabled>
        DisAble
    </label>
</div> 
-->


{% endblock %}



