{% extends "bootstrap/base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">Sign Up</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </form>

</div> <!-- /container -->
{% endblock %}
















{# this is a comment 



<!-- <title> signup PAGE</title>


{% extends 'base.html' %}





{% block content %}
<a class="navbar-brand" href="#"><img src="/static/OWL.jpg" width="600" height="400" alt=""></a> 

<div class='container'>
  <h3>You must sign up to use application</h3>
  
  <form action="/signUp" method="POST">

    
    <br>
    <div class='d-inline'>
      <label>
        <h6>Upload Profile Photo</h6>
        <input type="file" name="photo" accept="image/*">
      </label>
    </div>
    
  <div>  
    <div class='d-inline'>
      <label>
        <h6>Your first name</h6>
        <input type="text" class='form-control' name="fname">
      </label>
    </div>

    <div class='d-inline'>
      <label>
        <h6>Last Name</h6>
        <input type="text" class='form-control' name="lname">
      </label>
    </div>
  </div>  

  <div>    
    <div class='d-inline'>
      <label>
        <h6>Email</h6>
        <input type="email" class='form-control' name="email">
      </label>
    </div>

    <div class='d-inline'>
      <label>
        <h6>choose password</h6>
        <input type="password" class='form-control' name="password">
      </label>
    </div>
  </div>  
  <div>
                       ADD DROP DOWN HOBBY SELECTOR HERE 
    <div>
      <input type="submit" class='btn btn-primary' value="Submit">
    </div>

   
     <div>

      <input type='file' name='photo'> 

    </div> 
   

  </form>
</div>

                                   hobby choices below

<div class="checkbox">
    <label>
        <input type="checkbox" value="option1">
        Foodie
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" value="option2">
        Museums
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" value="option3">
       Landmarks
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option4">
        Dancing / Music
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option5">
        Wine bars
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option6">
        Dogs
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option27">
        Scenic
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option8">
        Escape rooms
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option9">
        Historic
    </label>
</div><div class="checkbox">
    <label>
        <input type="checkbox" value="option10">
        Kids
    </label>


</div>
<div class="checkbox disabled">
    <label>
        <input type="checkbox" value="option3" disabled>
        DisAble
    </label>
</div> 
-->


{% endblock %}

   #}